{% extends "bootstrap/base.html" %}

{% block title %}Accueil{% endblock %}

{% block styles %}
{{super()}}
<!--<link rel="stylesheet"-->
      <!--href="{{url_for('.static', filename='css/withdrawal_ui.css')}}" xmlns="http://www.w3.org/1999/html">-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/home.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/mycss.css')}}">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %}
<!--<h3>{{ request.method }}</h3>-->
<form  action="http://localhost:5000/withdrawal_ui" method="POST" id="form_info_home">
    <input type="hidden" id="var1" name="card_id" value=""/>
    <input type="hidden" id="var2" name="pin" value=""/>
</form>

<div id="home" class="main-content-home centre">
      <div class="container-fluid"  style="background-color: #1a2732">
          <div class="navbar-header">
              <h1>
                  <img alt="Brand" src="{{url_for('.static', filename='img/logo_esibank.png')}}">
                  <span style="color: #fed189; font-weight: 300">ESI</span>
                  <span style="color: #00a0df; font-weight: 300">BANK</span>
              </h1>
          </div>
          <div class="navbar-header" style="float: right">
              <h1>
                  <a href="/help"><img alt="Brand" src="{{url_for('.static', filename='img/logo_info.png')}}"></a>
              </h1>
          </div>
      </div>

    <div class="container-fluid" style="text-align:center; height: 130px; margin-top: 5px">
        <h1 style="color: #1a2732; font-weight: 300; font-size: 50px">
            Présenter votre mobile sur la platforme dédiée pour effectuer un retrait.
        </h1>
    </div>

    <div style="text-align: center; margin-top: 5px">
        <img alt="nfc" src="{{url_for('.static', filename='img/loading_NFC.gif')}}" style="width: 300px; height: 300px">
    </div>

    <div class="container-fluid" style="text-align:center; ">
        <h1 style="color: #1a2732; font-weight: 300; font-size: 15px">
            En cas de problème avec le distributeur, veuillez vous présenter en agence ou contacter le 01 23 45 67 89.
        </h1>
    </div>

</div>

<div id="verif" class="main-content-verif centre">
            <div class="container-fluid"  style="background-color: #1a2732">
                  <div class="navbar-header">
                      <h1>
                          <img alt="Brand" src="{{url_for('.static', filename='img/logo_esibank.png')}}">
                          <span style="color: #fed189; font-weight: 300">ESI</span>
                          <span style="color: #00a0df; font-weight: 300">BANK</span>
                      </h1>
                  </div>
              </div>

            <div class="container-fluid" style="text-align:center; height: 130px; margin-top: 5px">
                <h1 style="color: #1a2732; font-weight: 300; font-size: 50px">
                    Vérification de vos informations. Merci de patienter durant le traitement.
                </h1>
            </div>

            <div style="text-align: center; margin-top: 5px">
                <img alt="nfc" src="{{url_for('.static', filename='img/loading_CHECK.gif')}}" style="width: 300px; height: 300px">
            </div>

            <div class="container-fluid" style="text-align:center; ">
                <h1 style="color: #1a2732; font-weight: 300; font-size: 15px">
                    En cas de problème avec le distributeur, veuillez vous présenter en agence ou contacter le 01 23 45 67 89.
                </h1>
            </div>
</div>



<div id="err_div" class="main-content-error centre">
    <div class="container-fluid"  style="background-color: #1a2732">
        <div class="navbar-header">
            <h1>
                <img alt="Brand" src="{{url_for('.static', filename='img/logo_esibank.png')}}">
                <span style="color: #fed189; font-weight: 300">ESI</span>
                <span style="color: #00a0df; font-weight: 300">BANK</span>
            </h1>
        </div>

    </div>

    <div class="container-fluid" style="text-align:center; height: 130px; margin-top: 5px">
        <h1 style="color: #1a2732; font-weight: 300; font-size: 50px">
            {{messageError}}.</br> Veuillez ressayer ultérieurement, merci.
        </h1>
    </div>

    <div style="text-align: center; margin-top: 5px">
        <img alt="nfc" src="{{url_for('.static', filename='img/error.gif')}}" style="width: 300px; height: 300px">
    </div>

    <div class="container-fluid" style="text-align:center; ">
        <h1 style="color: #1a2732; font-weight: 300; font-size: 15px" id="compteur">
            En cas de problème avec le distributeur, veuillez vous présenter en agence ou contacter le 01 23 45 67 89.
        </h1>
    </div>
</div>


<div id="check_div" class="main-content-check-card centre">
    <div class="container-fluid"  style="background-color: #1a2732">
        <div class="navbar-header">
            <h1>
                <img alt="Brand" src="{{url_for('.static', filename='img/logo_esibank.png')}}">
                <span style="color: #fed189; font-weight: 300">ESI</span>
                <span style="color: #00a0df; font-weight: 300">BANK</span>
            </h1>
        </div>

    </div>

    <div class="container-fluid" style="text-align:center; height: 130px; margin-top: 5px">
        <h1 style="color: #1a2732; font-weight: 300; font-size: 50px">
            Authentification réussie !
        </h1>
    </div>

    <div style="text-align: center; margin-top: 5px">
        <img alt="nfc" src="{{url_for('.static', filename='img/checked.png')}}" style="width: 300px; height: 300px">
    </div>

    <div class="container-fluid" style="text-align:center; ">
        <h1 style="color: #1a2732; font-weight: 300; font-size: 15px" id="compteur">
            En cas de problème avec le distributeur, veuillez vous présenter en agence ou contacter le 01 23 45 67 89.
        </h1>
    </div>
</div>

<div id="secret_form">
    <form  action="http://localhost:5000/withdrawal_ui" method="POST" id="form_info_home">
        <input type="hidden" id="var1" name="card_id" value=""/>
        <input type="hidden" id="var2" name="pin" value=""/>
    </form>
</div>

{% endblock %}
{% block scripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script  type="text/javascript" src="{{url_for('.static', filename='js/home.js')}}"></script>

<!--</html>-->
{% endblock %}