{% extends "bootstrap/base.html" %}

{% block title %}Accueil{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <!--<h1>PINUI</h1>-->
<!--<h3>{{ request.method }}</h3>-->

<div class="container main-content">

   <div class="starter-template">
       <!--<div class="home_ui_pin">
           <h3>{{ request.method }}</h3>

           <div class="starter-template">
               <h1>Bienvenue</h1>
               <p class="lead">ESIBANK</p>
           </div>
       </div>-->
   <div class="amount_ui">
      <h1>Saisir Montant</h1>

   <div class="edit-div">
      <h4>Montant sélectionné : <span class="edit-val"></span></h4>
   </div>
   <table class="table table-inverse">
      <tbody>
         <tr>
            <td><input type="button" class="btn-val btn btn-primary btn-lg" value="10"></td>
            <td><input type="button" class="btn-val btn btn-primary btn-lg" value="20"></td>
            <td><input type="button" class="btn-val btn btn-primary btn-lg" value="50"></td>
         </tr>
         <tr>
            <td><input type="button" class="btn btn-danger btn-lg" value="Annuler"></td>
            <td><input type="button" id="valid-input" class="btn btn-info btn-lg" value="Valider"></td>
         </tr>
      </tbody>
   </table>
   </div>

       <div>
           <form  action="http://localhost:5000/pinui" method="POST" id="form_info_pinui">
               <input type="hidden" id="var1" name="card" value={{ card_id }}/>
               <input type="hidden" id="var2" name="pin" value={{ pin_id }}/>
           </form>
       </div>

</div>
</div>


<div class="container main-content-verif">

    <div class="starter-template">
        <h1>Vérification en cours...</h1>
    </div>
    <div class="edit-div">
        <h4>Montant sélectionné : <span class="edit-val"></span></h4>
    </div>
</div>

<div class="container main-content-conf">

    <div class="starter-template">
        <h1>Présentez votre mobile pour valider</h1>
        <div class="contact-nfc">
            <img class="contact-nfc" src="{{url_for('static', filename='nfc-contact.gif')}}">
        </div>

    </div>
</div>

<div class="container main-content-validation">
    <div class="starter-template">
        <h1>Retrait effectué</h1>

    </div>
</div>

<div class="container main-content-err">
    <div class="starter-template">
        <div class="alert alert-warning">
            <strong>Erreur contact NFC - Merci de ré-essayer</strong>
        </div>
    </div>


</div>

<div class="loading"></div>
    <!--</div>-->


{% endblock %}


{% block scripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script  type="text/javascript" src="{{url_for('.static', filename='js/pinui.js')}}"></script>


<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

</script>
{% endblock %}


{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/pinui.css')}}">
{% endblock %}

