/**
 * @author ABID BUTT Usman
 */



.modal {
    display:    block;
    /*position:   fixed;*/
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('http://i.stack.imgur.com/FhHRx.gif')
    50% 50%
    no-repeat;
}

.contact-nfc-gif {
    display:    block;
    /*position:   fixed;*/
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
   // url('/app/staticatic/ezgif.com-gif-maker.gif')
   // 50% 50%
   // no-repeat;
}

.home_ui{
    visibility: visible;
}

.amount_ui{
    visibility: visible;
}

.main-content-validation{
    visibility: hidden;
}
.main-content-verif{
    visibility: hidden;
}

.main-content-conf{
    visibility: hidden;
}

.contact-nfc-gif{
    visibility: hidden;
}


.main-content-err {
    visibility: hidden;
}
